/*  VERY SMALL MOBILE (MAX 320px)  */
@media screen and (max-width: 320px) {

    /* NAVBAR */
    nav {
        height: 50px;              
        padding: 0.5rem 10px;      
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    /* HERO BOX */
    .pinkbox {
        height: 400px;
        width: 300px;
        border-radius: 16px;
        position: relative;  
        margin: 0 auto;       
        top: 10px;
        padding: 10px;
    }

    /* TV IMAGE */
    .tv {
        position: absolute;   
        top: 120px;           
        right: 10px;          
        width: 150px;
        height: 150px;
    }

    .tv img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* TEXTS */
    .texts {
        position: absolute;    
        top: 50px;            
        left: 10px;           
        width: 55%;            
        text-align: left;
    }

    .texts h1 {
        font-size: 18px;
    }

    .texts p {
        font-size: 10px;
        margin-top: 5px;
    }

    .texts h3 {
        font-size: 14px;
        margin-top: 5px;
        color: #fd236c;
    }

    .buynow {
        display: block;
        width: 100px;
        height: 35px;
        font-size: 12px;
        margin-top: 10px;
    }


    /* CATEGORIES */
    .categories {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .box2 {
        width: 95%;
        max-width: 260px;
        height: 100px;
    }

    .box2 span {
        font-size: 20px;
        left: 20px;
    }

    .box2 img {
        width: 40px;
        right: 8px;
    }

    /* SHOES SECTION */
    .shoes {
        font-size: 22px;
    }

    .box3 {
        width: 95%;
        max-width: 260px;
        padding-bottom: 15px;
    }

    .box3 img {
        width: 90%;
        height: auto;
    }

    .box3 h3 {
        font-size: 16px;
    }

    .box3 p {
        font-size: 13px;
    }

    .box3 h2 {
        font-size: 18px;
    }

    .buynow2 {
        width: 110px;
        margin: 10px auto 0 auto;
    }

    /* BACKPACK SECTION */
    .backpack {
        font-size: 22px;
    }

    .box4 {
        width: 95%;
        max-width: 260px;
        padding-bottom: 15px;
    }

    .box4 img {
        width: 90%;
        height: auto;
    }

    .box4 h3 {
        font-size: 16px;
    }

    .box4 p {
        font-size: 13px;
    }

    .box4 h2 {
        font-size: 18px;
    }

    .buynow3 {
        width: 110px;
        margin: 10px auto 0 auto;
    }

    /* NEWSLETTER SECTION */
    .pinkbox2 {
        width: 95%;
        padding: 30px 15px;
        margin-top: 40px;
    }

    .form-header h2 {
        font-size: 20px;
    }

    .form-header p {
        font-size: 12px;
    }

    .email-form input[type="email"],
    .email-form button {
        padding: 12px;
        font-size: 13px;
    }
}
