/*  VERY SMALL MOBILE (MAX 320px)  */
@media screen and (min-width:300px) and (max-width:576px)
 {

    /* NAVBAR */
    nav {
        height: 50px;              
        padding: 0.5rem 10px;      
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
       
    }

    /* HERO BOX */
    .wrapper {

    height: 100vh;
    width: 90%;
    
    
    
    
    /* padding-left:55px ; */
   display: hidden;
   justify-content: center; 
   
    align-items: center;
}
    
  
    
 /* TV */
.tv {
     margin-top: -110px;
    transform: translateX(-350px);   /* moves left */
}

.tv img {
    width: 200px;
    height: 200px;
}

    .texts {
    margin-top: 80px;
    margin-right: 80px;


}


    

    
    

    .texts h1 {
        font-size: 18px;
    }

    .texts p {
        font-size: 10px;
        margin-top: 5px;
    }

    .texts h3 {
        font-size: 14px;
        margin-top: 5px;
        color: #fd236c;
    }

    .buynow {
        display: block;
        width: 100px;
        height: 35px;
        font-size: 12px;
        margin-top: 10px;
    }


    /* CATEGORIES */
    .categories {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .box2 {
        width: 95%;
        max-width: 260px;
        height: 100px;
    }

    .box2 span {
        font-size: 20px;
        left: 20px;
    }

    .box2 img {
        width: 40px;
        right: 8px;
    }
    .buynow2 {
        transform: translate(-15px, 5px);

    }


    /* SHOES SECTION */
    .shoes {
        font-size: 22px;
    }

    .box3 {
        width: 95%;
        max-width: 260px;
        padding-bottom: 15px;
    }

    .box3 img {
        width: 90%;
        height: auto;
    }

    .box3 h3 {
        font-size: 16px;
    }

    .box3 p {
        font-size: 13px;
    }

    .box3 h2 {
        font-size: 18px;
    }

    
    /* BACKPACK SECTION */
    .backpack {
        font-size: 22px;
    }

    .box4 {
        width: 95%;
        max-width: 260px;
        padding-bottom: 1px;
    }

    .box4 img {
        width: 90%;
        height: auto;
    }

    .box4 h3 {
        font-size: 16px;
    }

    .box4 p {
        font-size: 13px;
    }

    .box4 h2 {
        font-size: 18px;
    }

    .buynow3 {
        width: 110px;
        margin: 10px 70px;
    }

    /* NEWSLETTER SECTION */
    .pinkbox2 {
        width: 85%;
        
        margin: 100px -120px;
    }

    .form-header h2 {
        font-size: 20px;
    }

    .form-header p {
        font-size: 12px;
    }

    .email-form input[type="email"],
    .email-form button {
        padding: 12px;
        font-size: 13px;
    }
}
