* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* NAVBAR */
nav {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 100px;
    margin-bottom: 10px;

}

/* HERO SECTION */

.wrapper {
    flex-wrap:wrap ;
    height: 100vh;
    width: 90%;
    margin: auto;
    background: rgb(255, 223, 229);
    border-radius: 16px;
    padding-left:55px ;
   display: flex;
   justify-content: space-between;
   
    align-items: center;
}

/* .tv {
    
    
} */

.tv img {
    height: 340px;
    width: 340px;
}



/* .texts {
    display: flex;
    flex-direction: column;
    
    top: 190px;
    right: 47%;
} */

.texts h1 {
    font-weight: 900;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
}

.texts p {
    font-weight: 500;
    margin-top: 20px;
    color: rgb(88, 87, 87);
}

.texts h3 {
    font-weight: 500;
    font-size: 34px;
    font-family: "Oswald", sans-serif;
    color: #fd236c;
    margin-top: 14px;
}

.buynow {
    height: 50px;
    width: 120px;
    margin-top: 10px;
    background-color: #fd236c;
    border-radius: 10px;
    border: #fd236c;
    color: aliceblue;
}

/* CATEGORIES */
.categories {
    font-size: 30px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 900;
    margin-left: 120px;
    padding-bottom: 30px;
}

.cat-box {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.buynow:hover {
    background-color: #fa4582;
    border-radius: 10px;
    color: aliceblue;
}

.box2 {
    height: 100px;
    width: 320px;
    margin-bottom: 30px;
    position: relative;

}

/* ------Text---- */
.box2 span {
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 30px;
    font-family: "Stack Sans Headline", sans-serif;
}

/*------- Image------- */
.box2 img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 60px;
}


#watch {
    background-color: rgb(244, 155, 29);
    border-radius: 10px;
    color: white;


}

#bag {
    background-color: rgb(250, 33, 94);
    border-radius: 10px;
    color: white;

}

#shoes {
    background-color: blue;
    border-radius: 10px;
    color: white;
}

#watch {
    background-color: rgb(244, 155, 29);
    border-radius: 10px;
    color: white;


}

#bag {
    background-color: rgb(250, 33, 94);
    border-radius: 10px;
    color: white;

}



#watch:hover {
    background-color: rgb(247, 171, 65);
    border-radius: 10px;
    color: white;


}

#bag:hover {
    background-color: rgb(255, 83, 132);
    border-radius: 10px;
    color: white;

}

#shoes:hover {
    background-color: rgb(77, 77, 251);
    border-radius: 10px;
    color: white;
}

/* SHOES SECTION */
.shoes {
    font-size: 30px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 900;
    margin-left: 120px;

    margin-top: 10px;
}

.shoe-box {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-bottom: 130px;
    margin-top: 26px;
}

.box3 {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #c5c5c5,
        -8px -8px 16px #ffffff;
    padding-top: 30px
}

.box3 img {
    height: 170px;
    width: 280px;
}

.box3 h3 {
    margin-left: 50px;
    font-size: 18px;
    font-family: "Stack Sans Headline", sans-serif;
    padding-top: 20px;
    font-weight: 900;
}

.box3 p {
    margin-left: 45px;
    margin-top: 20px;
    color: rgb(62, 62, 62);
}

.box3 h2 {
    margin-left: 105px;
    margin-top: 10px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.buynow2 {
    margin-left: 80px;
    margin-top: 10px;
    height: 30px;
    width: 120px;
    background-color: black;
    border: 2px solid black;

    color: white;
    border-radius: 4px;
    transition: 0.2s;
}

.buynow2:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.2s;
}

.backpack {
    font-size: 30px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 900;
    margin-left: 120px;

    margin-top: 10px;
}

.back-box {
    display: flex;
    gap: 60px;
    justify-content: center;
    padding-bottom: 130px;
    margin-top: 26px;
}

.box4 {
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px 16px #c5c5c5,
        -8px -8px 16px #ffffff;
    padding-top: 30px
}

.box4 img {
    height: 190px;
    width: 220px;
    margin-left: 20px;
}

.box4 h3 {
    margin-left: 50px;
    font-size: 18px;
    font-family: "Stack Sans Headline", sans-serif;
    padding-top: 10px;
    font-weight: 900;
}

.box4 p {
    margin-left: 45px;
    margin-top: 10px;
    color: rgb(62, 62, 62);
}

.box4 h2 {
    margin-left: 105px;
    margin-top: 10px;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.buynow3 {
    margin-left: 80px;
    margin-top: 5px;
    height: 30px;
    width: 120px;
    background-color: black;
    border: 2px solid black;

    color: white;
    border-radius: 4px;
    transition: 0.2s;
}

.buynow3:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 0.2s;
}

.pinkbox2 {
    height: 440px;
    width: 1060px;
    background: rgb(255, 223, 229);
    border-radius: 7px;
    bottom: 90px;
    position: relative;
    left: 100px;
    padding-top: 100px;
    margin-top: 100px;
}

/* NEWSLETTER SECTION */
.form-container {
    width: 100%;
    max-width: 600px;
    /* Constrain the form's max width */
    text-align: center;
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.form-header {
    margin-bottom: 25px;

}

.form-header h2 {
    font-size: 24px;
    color: #333;
    letter-spacing: 2px;
    /* Slight spacing for the uppercase title */
    margin-bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: -2px;
    font-size: 30px;
}

.form-header p {
    font-size: 16px;
    color: #565454;
    margin: 0;
}



.email-form {
    display: flex;
    justify-content: center;
    width: 100%;

}

.email-form input[type="email"] {
    flex-grow: 1;
    padding: 15px 15px;
    font-size: 16px;
    border: none;
    outline: none;

    color: #4c4c4c;
    border-radius: 0;
}

.email-form button[type="submit"] {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #fd236c;
    border: #fd236c;
}

.email-form button:hover {
    background-color: #fd588f;
}